# secrets.yaml
wifi_ssid: "Your_WIFI_Here"
wifi_password: "InsertPasswordHere"

# If you're using the native API (recommended for Home Assistant integration)
api_encryption_key01: "InsertEncryptionKeyHere"

# Optional extras you might add later
ota_password: "InsertPasswordHere"
